.header {
  position: fixed;
  top: 0;
  left: 50%; 
  transform: translateX(-50%);  
  width: 95%;  
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: white;
  font-family: sans-serif;
  background-color: rgba(108, 80, 80, 0.8);
  transition: background-color 0.3s ease;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
  color: red;
}